<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">.TO BUILDER</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" ng-controller="MainController as main">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-builder">
                <div class="panel-heading">
                    Zawartość strony
                </div>

                <div class="dropzone panel-body" ng-init="rows = main.items.rows">
                    <ul dnd-list="rows"
                        dnd-allowed-types="['row']">

                        <li class="row-list-item"
                            ng-repeat="item in rows"
                            dnd-draggable="item"
                            dnd-effect-allowed="move"
                            dnd-moved="rows.splice($index, 1)"
                            dnd-selected="main.items.selected = item"
                            dnd-type="item.type">

                            <div class="toolbar row-toolbar">
                                <div class="btn btn-default btn-xs" ng-click="main.open(item)">Edytuj</div>
                                <div class="btn btn-danger btn-xs" ng-click="main.removeItem(rows, $index)">Usuń</div>
                            </div>

                            <div class="row-list">
                                <div class="col-md-{{ list.size }}" ng-repeat="list in item.columns">
                                    <ul dnd-list="list.items"
                                        dnd-allowed-types="main.itemsAllowedTypes">

                                        <li class="column-list-item"
                                            ng-repeat="item in list.items"
                                            dnd-draggable="item"
                                            dnd-effect-allowed="move"
                                            dnd-moved="list.items.splice($index, 1)"
                                            dnd-selected="main.items.selected = item"
                                            dnd-type="item.type">

                                            <div class="toolbar row-toolbar">
                                                <div class="btn btn-default btn-xs" ng-click="main.open(item)">Edytuj</div>
                                                <div class="btn btn-danger btn-xs" ng-click="main.removeItem(list.items, $index)">Usuń</div>
                                            </div>

                                            <div class="item">Sekcja: {{ item.label }} {{ item.id }} </div>
                                        </li>
                                    </ul>

                                    <div class="list-footer">
                                        <div class="btn btn-default btn-xs" ng-click="main.addItem(list.items)">Dodaj element</div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="panel-footer">
                    <div class="btn btn-default" ng-click="main.addRow()">Dodaj wiersz</div>
                </div>
            </div>
        </div>
    </div>
</div>