.modal-full {
  position: fixed;
  left: 25px;
  right: 25px;
  width: auto;
  top: 25px;
  bottom: 25px;
  height: auto;
  margin: 0;

  .modal-content {
    height: 100%;
    position: relative;
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal-body {
    max-height: 100%;
    position: absolute;
    top: 65px;
    bottom: 65px;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

.list-footer {
  width: 100%;
  float: left;
  border: 1px solid #d3d3d3;
  margin-top: -3px;
  text-align: center;
  padding: 10px;
}

.row-list {
  padding: 15px 0;
  width: 100%;
  float: left;
}

.panel-builder {
  border: 1px solid #d3d3d3;

  .panel-footer {
    text-align: center;
  }

  .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }

  .row-list-item {
    .toolbar {
      position: absolute;
      right: 10px;
      top: -11px;
    }
  }

  .column-list-item {
    border: 1px solid #d3d3d3;
    margin-top: -1px;

    .toolbar {
      position: absolute;
      right: 10px;
      top: 50%;
      @include transform(translate(0, -50%));
    }
  }

  .column-list-item,
  .row-list-item {
    &:hover > {
      .toolbar {
        opacity: 1;
        z-index: 1000;
      }
    }
  }

  .toolbar {
    opacity: 0;
    z-index: -1;

    @include transition(opacity .2s ease-out);
  }
}

/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list] {
  min-height: 41px;
}

ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
  width: 100%;
  float: left;
}

/***************************** Dropzone Styling *****************************/

.dropzone {
  .row-list-item {
    border: 1px solid #d3d3d3;
    margin-top: -1px;
  }
  //.row-list-item + .row-list-item {
  //  border-top: 1px solid #d3d3d3;
  //}
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dropzone ul[dnd-list] {
  min-height: 42px;
  margin: 0;
  padding-left: 0;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dropzone li {
  background-color: #fff;
  display: block;
  padding: 0;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
  opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
  background-color: #ddd;
  min-height: 42px;
  display: block;
  position: relative;
}

/***************************** Element Selection *****************************/

.dropzone .selected .item {
  color: #3c763d;
  background-color: #dff0d8;
}

/***************************** Element type specific styles *****************************/

.dropzone .item {
  padding: 10px 15px;
}