<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>

<div class="modal-body">
    <ul class="widget-list">
        <li ng-repeat="widget in vm.widgets | filter: {exclude: '!'}" ng-click="vm.select(widget)" ng-class="{selected: widget === vm.widget}" tabindex="-1">
            <div class="widget-box">
                <h4>{{ widget.label }}</h4>
            </div>
        </li>
    </ul>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
</div>