.widget-list {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: 20%;
    float: left;
    padding: 10px;
    &:focus {
      outline: 0;
    }
  }

  .widget-box {
    float: left;
    border: 1px solid #d3d3d3;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }

  .selected {
    .widget-box {
      border-color: $brand-primary;
      color: $brand-primary;
    }
  }
}