<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label>Tekst</label>
        <textarea name="tekst" id="" cols="30" rows="10" ng-model="vm.model.text"></textarea>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
</div>