<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="simpleColumns">Wybierz szablon wiersza</label>
        <select name="simpleColumns" id="simpleColumns" class="form-control"
                ng-model="vm.model.simpleColumns"
                ng-options="value as label for (value, label) in vm.simpleColumns">
        </select>
    </div>

    <div class="form-group">
        <label for="columns">Lub zdefiniuj go sam.</label>
        <p class="form-helper">
            Pamiętaj aby każdy ułamek pomnożony przez 12 dawał liczbę całkowitą. Suma wszystkich ułamków nie może być większa niż 1.
        </p>
        <input id="columns" name="columns" type="text" ng-model="vm.model.columns" class="form-control">
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
</div>